# 1

In [4]:
a=["fiona",["rito",5.66,8],7.899,("apple","banana")]

In [5]:
a#this is one variable with all the data types

['fiona', ['rito', 5.66, 8], 7.899, ('apple', 'banana')]

# 2

In [ ]:
#i
string
#ii
string
#iii
list

#4
int

# 3

In [1]:
#i / this operator is used for division
a=8/2

In [2]:
a

4.0

In [3]:
#2 % this is used for modulo that is reminder
a=5%2

In [4]:
a

1

In [5]:
#3 // this is used for floor division,after point not taken
a=8//3

In [6]:
a

2

In [7]:
#4** this is used for powe i.e exponent
a=2**3

In [8]:
a

8

# 4

In [9]:
fiona=[4,5,5.66,7,"stryky","sexy","rimo",9,True]

In [10]:
for i in fiona:
    print(i)
    print(type(i))

4
<class 'int'>
5
<class 'int'>
5.66
<class 'float'>
7
<class 'int'>
stryky
<class 'str'>
sexy
<class 'str'>
rimo
<class 'str'>
9
<class 'int'>
True
<class 'bool'>

# 6

In [1]:
li=[5,6,7,25,73,3768,0,3,2,456,2,56,57,45,78,34,56,78,9,2,3,4,56,6789,67,56]
for i in li:
    if i%3==0:
        print(i,"divisible by 3")
    else:
        print(i,"not divisible by 3")

5 not divisible by 3
6 divisible by 3
7 not divisible by 3
25 not divisible by 3
73 not divisible by 3
3768 divisible by 3
0 divisible by 3
3 divisible by 3
2 not divisible by 3
456 divisible by 3
2 not divisible by 3
56 not divisible by 3
57 divisible by 3
45 divisible by 3
78 divisible by 3
34 not divisible by 3
56 not divisible by 3
78 divisible by 3
9 divisible by 3
2 not divisible by 3
3 divisible by 3
4 not divisible by 3
56 not divisible by 3
6789 divisible by 3
67 not divisible by 3
56 not divisible by 3

# 5

In [19]:
 a=int(input())
b=int(input())
count=0
while a%b==0:
    a=a/b
    count+=1
if count>0:
    print(f"divisible by {count} no of times")
else:
    print("not divisible")

16
2
divisible by 4 no of times

# 7

In [12]:
#mutable data types are lists that is we can do reassignment by indexinx but we cant do it in string
stri="fiona"
# stri[0]="g"this is not possible and will show error as string is immutable
li=[6,7,8,"fiona"]
li[2]="sexy"
li

[6, 7, 'sexy', 'fiona']

In [ ]:
#list is changed so list is mutable